@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-family: "Pretendard-Regular";
  overflow-x: hidden;
}

::selection {
  background: #000000;
  color: #ffffff;
}

.text-stroke {
  -webkit-text-stroke: 1px black;
}

.menu-moving {
  animation: menumoving 0.3s linear forwards;
}

@keyframes menumoving {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.image-box {
  animation: leftmoving 30s linear infinite;
}

@keyframes leftmoving {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
